@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, "sans-serif";
}

:root {
  --background: #252734;
  --light-bg: #333646;
  --text-gray: #5b5e6e;
  --border-color: #3f3f49;
  --lightyellow: rgb(255, 194, 92);
  --yellow: #ffaf29;
  --white: rgb(216, 217, 218);
  --transistion-175ms: all 175ms ease-in-out;
  --transistion-275ms: all 275ms ease-in-out;
  --transistion-375ms: all 375ms ease-in-out;
}

.navbar {
  height: 4rem;
  position: relative;
  margin: 0 10%;
  background-color: var(--background);
  border-bottom: solid 1px var(--border-color);
}
.nav-item .nav-link {
  color: var(--text-gray) !important;
  font-size: 0.9rem !important;
  transition: var(--transistion-175ms);
}

.nav-link.active,
.nav-link:hover,
.nav-link:active {
  color: var(--yellow) !important;
}
.navbar-brand img {
  width: 50px;
}
.navbar-toggler-icon {
  color: var(--white);
}
.navbar-brand {
  left: 0;
}
main {
  background-color: var(--background);
  z-index: -22;
}
.bars {
  right: 1rem;
  height: 2rem;
  top: 1rem;
}
.logos {
  height: 3rem;
}
.nav-logo {
  top: 0.5rem;
  left: 2rem;
}

.nav-item:last-child {
  position: absolute;
  right: 2rem;
}

.nav-item:last-child .nav-link {
  border: solid 1px var(--white);
  color: var(--white) !important;
  font-size: 0.8rem;
}
.nav-item:last-child .nav-link:hover,
.nav-item:last-child .nav-link.active {
  border-color: var(--yellow);
  color: var(--yellow) !important;
}
#hero,
#about,
#resume,
#portfolio,
#contact {
  padding-top: 4rem;
  display: flex;
}

/* Hero Style */

#hero {
  justify-content: center;
  color: var(--white);
}
.hero-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  margin-top: -2rem;
}
.profile {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: solid 0.4rem var(--light-bg);
}
.profile-frame {
  padding: 5px;
  border-radius: 50%;
  border: solid 2px var(--lightyellow);
}
.hero-wrapper h1 {
  font-size: 3rem;
  background: -webkit-linear-gradient(
    90deg,
    var(--lightyellow) 30%,
    rgba(37, 39, 52, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.text-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.text-area .name,
.greet {
  margin: 0 !important;
}
.description {
  color: var(--light-bg);
  font-size: 1.2rem !important;
}
#typer {
  color: var(--yellow);
}
.my-works {
  color: var(--background) !important;
  position: relative;
  transition: var(--transistion-275ms) !important;
  letter-spacing: 1px;
  background-color: var(--lightyellow) !important;
  font-size: 0.9rem !important;
}
.my-works:active {
  border-color: transparent !important;
}
.my-works:hover {
  letter-spacing: 2px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-color: transparent !important;
  color: var(--white) !important;
}
.my-works::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 1rem);
  width: 2rem;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}
.my-works:hover::before {
  opacity: 1;
  width: 10rem;
  left: calc(50% - 5rem);
  transform: scale(1, 1);
}

/* Keyframes */

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
}

/* Media Queries */

@media screen and (max-width: 1000px) {
  .navbar-nav {
    transition: var(--transistion-375ms);
    background-color: var(--background);
    height: 0;
    overflow: hidden;
    left: 0;
    top: calc(4rem - 2px);
    position: absolute;
    width: 100%;
  }
  .expanded {
    height: 50vh;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
  }
  .nav-item:last-child .nav-link {
    position: relative !important;
  }
  .navbar {
    height: 4rem;
    position: relative;
    margin: 0;
    background-color: var(--background);
  }
  .nav-logo {
    left: 1rem;
  }
  .name {
    font-size: 2.2rem !important;
  }
}
